:root {
    --primary-color: #008080; /* Teal */
    --accent-color: #FF9AA2; /* Soft Pink */
    --background-color: #28292A; /* Charcoal */
    --text-color: #E0E0E0; /* Light Gray */
    --button-bg-color: #008080; /* Teal */
    --button-text-color: #FFFFFF; /* White */
    --link-color: #008080; /* Teal */
    --link-hover-color: #FF9AA2; /* Soft Pink */
    --primary-heading-color: #E0E0E0; /* Light Gray */
    --secondary-heading-color: #B0B0B0; /* Gray */
    --border-divider-color: #333333; /* Dark Gray */
    --highlight-color: #FF9AA2; /* Soft Pink */
  }

  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3 {
  color: var(--primary-heading-color);
}

h4, h5, h6 {
  color: var(--secondary-heading-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-divider-color);
  padding: 10px 20px;
  cursor: pointer;
}

.highlight {
  background-color: var(--highlight-color);
}
  

.svg-path-container{
    position: absolute;
    top: 4.5%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.svg-path-container svg {
    width: 90%;
    filter: drop-shadow(0px 0px 10px #88CE3B);
    margin-left: 1%;
    pointer-events: none;
}
.logo {
    width: 500px;
    height: 500px;
    background-color:transparent;
    color:  var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 4rem;
    position: absolute;
    top: calc(50vh - 250px);    
    left: 150px;
}


.banner_wrapper {
    position: relative;
    height: 100vh; 
    width: 100%;
    padding: 20px;
}

.banner {
    background: linear-gradient(-45deg, #050919, #2f104d, #122D3D, #121B3B);
    position: relative;
    perspective: 1000px;
    height: calc(100vh - 40px);
    border-radius: 20px;
	background-size: 200% 200%;
    animation: gradient 25s ease infinite;
}

.banner_heading {
    width: 50%;
    position: absolute;
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.banner_heading h1 {
    font-size: 5rem;
}

.moving-screen-wrapper{
    position: relative;
    
    perspective: 1000px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
.moving-screen {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(18px);
    border-radius: 20px 20px 20px 20px;
    width: calc(65vw - 2.5rem);
}

.skills-section-wrapper {
    position: relative;
    /* height: 200vh; */
    width: 100%;
    /* padding: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;

}

.skills-frame{
    position: relative;
    perspective: 100px;
    
    height: 100%;
}

.skills-section {
    opacity: 1;
    color: white;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    transform-origin: left bottom;
    padding: 50px;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;  
    font-family: neuropool;
}

.skill-wrapper {
    height: 20vw;
    width: 20vw;
    background-color: #ffffff80;;
    border-radius: 10px;
}
.skill {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: transform 0.25s ease;
    
    text-align: center;
}

.skills-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-content: center;
}


.skill:hover {
    /* box-shadow: -20px 20px 0px grey; */
    transform: translate(20px, -20px);
}

#frontend{
    background-image: linear-gradient(315deg, #003D3D, #00BFFF);
}

#backend{
    background-image: linear-gradient(315deg, #C62828, #FF9AA2);
}

#design{
    background-image: linear-gradient(315deg, #FF1493, #008080);
}

#other{
    background-image: linear-gradient(315deg, #2F4F4F, #708090);
}

.skill-details {
    position: absolute;
    top: 40vh;
    left: 60vw;
    width: 40vw;
    height: 70vh;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.skill-title {
    color: white;
    font-family: 'neuropool';
}


.sub-skill-card {
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.sub-skill-card:hover {
    border: 1px solid black;
}

.sub-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subskill-description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.subskill-description .section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.subskill-description .section p {
    text-align: center;
}
h3.subskill-title {
    font-size: 3rem;
    text-align: center;
}
.subskill-description .section h4 {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}





.education-section-wrapper {
    position: relative;
    /* height: 200vh; */
    width: 100%;
    /* padding: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;

}

.education-frame{
    position: relative;
    perspective: 100px;
    
    height: 100%;
}

.education-section {
    opacity: 1;
    /* background-color: black; */
    color: white;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
    transform-origin: bottom;
}

.education-wrapper {
    display: flex
;
    gap: 20px;
}

.education-wrapper {
    display: flex;
    gap: 20px;
}

.educational-title {
    font-size: 2.5rem;
    text-align: center;
}

.qualifications {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.qualification {
    width: 65%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.qualifications-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.certificates {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.certificate{
    width: 65%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
}
.certificates-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.qualifications-description {
    position: absolute;
    left: -12.5vw;
    top: 50%;
    width: 20vw;
    height: 25%;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.certificates-description {
    height: 25%;
    width: 20vw;
    padding: 20px;
    border: 1px solid white;
    position: absolute;
    right: -12.5vw;
    top: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}








/* Work Section CSS */


.work-section-wrapper {
    position: relative;
    /* height: 200vh; */
    width: 100%;
    /* padding: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.work-frame{
    position: relative;
    perspective: 100px;
    
    height: 100%;
}

.work-section {
    opacity: 1;

    
    /* background-color: black; */
    color: white;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
    transform-origin: bottom;
}
.work-row {
    display: flex;
    height: 30vh;
}

#graphic-work {
    width: 40%;
    border-left: 0px;
}

#web-work {
    width: 60%;
    border-right: 0px;
}

#sketch-work {
    width: 40%;
    border-left: 0px;
}

#github-work {
    width: 60%;
    border-right: 0px;
}

.work-card {
    font-size: 2rem;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* Circle styles */
.circle {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.work-card:hover .circle {
    opacity: 1; /* Smoothly transition to opacity: 1 */
    transition: opacity 0.5s ease; /* Ensure transition applies for this state */
}

.work-card .inner-box{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25)
}

/* To ensure immediate disappearance */
.circle {
    opacity: 0;
    transition: opacity 0s; /* No transition for opacity going back to 0 */
}

#graphic-work .circle{
    background: radial-gradient(#008080, transparent , transparent);
}


#web-work .circle{
    background: radial-gradient(#FF6F61, transparent , transparent);
}


#sketch-work .circle{
    background: radial-gradient(#D3D3D3, transparent , transparent);
}


#github-work .circle{
    background: radial-gradient(#4B0082, transparent , transparent);
}










.swiper-wrapper {
    height: 80vh !important;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  


  /* Contact US Section CSS */

.contact-section-wrapper {
    position: relative;
    /* height: 200vh; */
    width: 100%;
    /* padding: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;

}

.contact-frame{
    position: relative;
    perspective: 100px;
    
    height: 100%;
}

.contact-section {
    opacity: 1;
    /* background-color: black; */
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    transform-origin: bottom;
}

input {
    background: transparent;
    color: white;
    font-size: 3rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
}

textarea {
    font-size: 3rem;
    padding: 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 80%;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


